apiVersion: v1
kind: Service
metadata:
  name: aivid-insights
  namespace: {{ .Values.global.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
  selector:
    app: aivid-insights