---
# Source: social-distancing-retail/charts/mqtt/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: release-name-mqtt
  labels:
    helm.sh/chart: mqtt-0.1.0
    app.kubernetes.io/name: mqtt
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  namespace: devcloudexample
spec:
  type: ClusterIP
  ports:
    - port: 1883
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: mqtt
    app.kubernetes.io/instance: release-name
